<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Car DB</title>
    <link rel="icon" type="image/png" href="images\car11.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/af.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
</head>
<body>

<div class="container" style="background-color:#5bc0de">
    <table class="table">
        <p>This is a MySQL DB and changes will be persisted.</p>
        <h2>Car Database</h2>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Speed</th>
            <th>Start Date</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="car : ${carlist}">
            <td th:text="${car.id}">Car ID</td>
            <td th:text="${car.name}">Car Name</td>
            <td th:text="${car.speed}">Car Speed</td>
            <td th:text="${car.date}">Car DateRented</td>
            <td><a class="btn btn-default" href="#" th:href="${'/car/' + car.id}">View</a></td>
            <td><a class="btn btn-default" href="#" th:href="${'/car/edit/' + car.id}">Edit</a></td>
            <td><a class="btn btn-default" href="#" th:href="${'/car/delete/' + car.id}">Delete</a></td>
        </tr>
    </table>
    <a th:href="${'/car/new'}" class="btn btn-warning">New</a>
</div>

<div class="container">

    <div class="row">
        <h2>Input date to see available cars</h2>
    </div>
    <div class="row">
        <div class='col-sm-6'>
            <form th:action="@{/searchbydate}" th:object="${car}" method="get">
                <div class="form-group">
                    <div class='input-group date' id='datepicker1'>
                        <input type='text' class="form-control" name="date"/>
                        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script>
    $(function () {
        $('#datepicker1').datepicker({
            format: "dd-mm-yy",
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
        });
    });
</script>
</body>
</html>