<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/car11.png">
</head>
<body>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#" th:href="${'/cars'}">Do CRUD operations with car objects</a></li>
        <li><a href="#" th:href="${'/youtube'}">Learn more about Spring MVC on Youtube</a></li>
    </ol>
</div>
</body>
</html>