<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Cars</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="background-color:#5bc0de">
    <table class="table">
        <h2>Cars available on that date</h2>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        <tr th:each="booking : ${carlist}">
            <td th:text="${booking.id}">Car ID</td>
            <td th:text="${booking.name}">Car Name</td>
            <td th:text="${booking.startdate}">Car Date</td>
            <td th:text="${booking.enddate}">Car Date</td>
        </tr>
    </table>
    <a th:href="${'/'}" class="btn btn-success">Home</a>
</div>
</body>
</html>